@import "tailwindcss";
@plugin "daisyui";




.active {
  border-bottom: 3px solid #F62B0A;
  border-radius: none;


}

@theme {
  --color-primary-color: #E30B13;
  --color-secondary-color: #606060;
}